# Environment variables
.env.local
.env.*.local

# Node
node_modules
npm-debug.log
yarn-error.log
.pnpm-debug.log

# Build output
.next
out
dist
build

# IDE
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.vercel
